
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    color: #4D4D4D;
    font-family: "Noto Sans Japanese";
}
a {
    color: #4D4D4D;
}
a:hover {
    color: #4D4D4D;
    opacity: 0.8;
    text-decoration: none; 
}
hr {
    height: 5px;
    border: none;
    border-top: 1px #47a89c solid;
    border-bottom: 1px #47a89c solid;
}
.explain {
    overflow: hidden;
    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}
.tag {
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 4px 5px 4px 5px;
    width: 100%;
}
a.tag:hover {
    color: #FFFFFF;
}
.tag-label, .publish-date {
    color: #47a89c;
}
.form {
    input, select {
        height: 32px;
    }
}
.form.tag-list {
    input {
        height: initial;
    }
    label {
        width: initial;
    }
}
// ブログ記事詳細のデザイン
#FrontArticleDetail {
    section {
        h1 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1.2rem;
        }
        h3 {
            font-size: 1.0rem;
        }
    }
    pre {
        background-color: #F5F5F5;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        font-size: 0.825rem;
        padding: 10px;
    }
}
